.App {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100vh;
}

.Content {
  height: 90vh;
  display: flex;
}

.home-right {
  width: 30vw;
  height: 100%;
  overflow-y: scroll;
  float: right;
}

.admin-background {
  width: 100vw;
  height: 90vh;
  background-image: url("../public/background-register.jpg");
  background-blend-mode: multiply;
  background-position: center center;
  background-size: cover;
}
