.App {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
}

.Content {
  flex: 1;
  display: flex;
}

.admin-background {
  width: 100vw;
  height: 90vh;
  background-image: url("../public/background3.jpg");;
  background-blend-mode: multiply;
  background-position: center center;
  background-size: cover;
}
