.register-background {
  width: 100vw;
  height: 90vh;
  background-image: url("../../../public/background-register.jpg");;
  background-blend-mode: multiply;
  background-position: center center;
  background-size: cover;
}

.login-background {
  width: 100vw;
  height: 90vh;
  background-image: url("../../../public/background-login.jpg");;
  background-blend-mode: multiply;
  background-position: center center;
  background-size: cover;
}

.wrapper{
  max-width: 500px;
  width: 100%;
  background-color: rgba(255, 255, 255, .92);
  margin: 20px auto;
  margin-top: 100px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  padding: 30px;
  border: 2px solid #61dafb;
  border-radius: 20px;
}

.wrapper .title{
  font-size: 2.5rem;
  font-weight: bold; 
  margin-bottom: 25px;
  color: #61dafb;
  text-align: center;
}

.registration-form {
  width: 100%;
}

.wrapper .registration-form .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .registration-form .inputfield label{
  width: 200px;
  color: #757575;
  margin-right: 10px;
  font-size: 1.2rem;
  font-weight: bold; 
}

.wrapper .registration-form .inputfield .input {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}


.wrapper .registration-form .inputfield .input:focus {
  border: 1px solid #61dafb;
}

.wrapper .registration-form .inputfield .btn{
  width: 100%;
  padding: 8px 10px;
  font-size: 1.2rem;
  font-weight: bold; 
  border: 0px;
  background:  #61dafb;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;

}

.wrapper .registration-form .inputfield .btn:hover{
  background: RoyalBlue;
}