.all-properties {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  height: 80vh fixed !important;
}

.all-properties .p-datatable {
  width: 45vw;
  height: 100% !important;
  margin-top: 1em !important;
  border-radius: 20px;
  overflow: hidden;
}

.all-properties .p-inputtext {
  margin-left: 10%;
  width: 80% !important;
  background-color: rgba(255, 255, 255, .92);
}

.all-properties .p-datatable-header {
  font-size: 1.8rem !important;
  background-color: #5AB8F8 !important;
  color: white !important;
  border: 1px solid #c7e6fd !important;
}

.all-properties .p-datatable-thead tr th,
.all-properties .p-datatable-thead tr th div,
.all-properties .p-datatable-thead tr th .p-column-header-content { 
  background-color: rgba(255, 255, 255, .92) !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.all-properties .p-datatable-tbody tr {
  background-color: rgba(255, 255, 255, .92) !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.all-properties .p-paginator {
  background-color: rgba(255, 255, 255, .92) !important;
}