.chart-title {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}

.custom-tooltip {
  background-color: white;
  color: black;
  border: 1px solid #5ab8f8;
  border-radius: 15px;

  .tooltip-text {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 12pt;

    .blue {
      color: blue;
    }

    .red {
      color: red;
    }
  }
}
