.chart-title {
  text-align: center;
}

.custom-tooltip {
  background-color: white;
  color: black;
  border: 1px solid #5ab8f8;
  border-radius: 15px;

  .tooltip-text {
    margin-left: 8px;
    margin-right: 8px;
    font-size: 12pt;
  }
}
