.pending-prices {
  margin: 2em;
  display: flex;
  flex-direction: column;
}

.p-datatable {
  margin-top: 1em !important;
}

.p-datatable-header {
  font-size: 1.8rem !important;
  background-color: #5AB8F8 !important;
  color: white !important;
  border: 1px solid #c7e6fd !important;
}

.p-inputtext {
  width: 30%;
  border: 3px solid #ced4da !important;
}

th {
  font-size: 1.5em;
  text-align: center !important;
}

td {
  font-size: 1.2em;
  text-align: center !important;
}

.status {
  color: orange;
  font-weight: bold;
}