.pending-prices {
  width: 90vw;
  margin-left: 5vw;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

#pending-img {
  border-radius: 10px;
}

#pending-img:hover {
  transform: scale(1.05);
}

#document-btn {
  background-color: DodgerBlue;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

#document-btn:hover {
  background-color: RoyalBlue;
}

.pending-prices .p-datatable {
  margin-top: 1em !important;
  border-radius: 20px;
  overflow: hidden;
}

.pending-prices .p-inputtext {
  width: 30%;
  border: 3px solid #ced4da !important;
  background-color: rgba(255, 255, 255, .9);
}

.pending-prices .p-datatable-table {
  width: 90vw !important;
}

.pending-prices .p-datatable-header {
  font-size: 1.8rem !important;
  background-color: #5AB8F8 !important;
  color: white !important;
  border: 1px solid #c7e6fd !important;
}

.pending-prices .p-datatable-thead tr th,
.pending-prices .p-datatable-thead tr th div,
.pending-prices .p-datatable-thead tr th .p-column-header-content { 
  background-color: rgba(255, 255, 255, .9) !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.pending-prices .p-datatable-tbody tr {
  width: 90vw !important;
  background-color: rgba(255, 255, 255, .9) !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.pending-prices .p-paginator {
  background-color: rgba(255, 255, 255, .9) !important;
}

th {
  font-size: 1.5em;
  text-align: center !important;
}

td {
  font-size: 1.2em;
  text-align: center !important;
}

.status {
  color: orange;
  font-weight: bold;
}