.dashboard {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: row !important;

}

.sidebar {
  display: flex;
  align-self: center;
  background-color: #5ab8f8 !important;
}

.p-sidebar {
  background-color: #5ab8f8 !important;
  color: white;
}

.stats-title {
  font-size: 2rem;
}

.stats {
  font-size: 20px;
  font-weight: bold;
}

.sidebar .p-button {
  background-color: #5ab8f8;
}

.sidebar .p-button:hover {
  background-color: rgb(33, 107, 255);
}

.card .p-datatable {
  width: 80vw;
  height: 75vh !important;
  margin-top: 7.5vh !important;
  margin-left: 10vw;
  border-radius: 20px;
  overflow: hidden;
}

.card .p-inputtext {
  margin-left: 10%;
  width: 80% !important;
  background-color: rgba(255, 255, 255, 0.9);
}

.card .p-datatable-header {
  font-size: 1.8rem !important;
  background-color: #5ab8f8 !important;
  color: white !important;
  border: 1px solid #c7e6fd !important;
}

.card .p-datatable-thead tr th,
.card .p-datatable-thead tr th div,
.card .p-datatable-thead tr th .p-column-header-content {
  background-color: rgba(255, 255, 255, 0.9) !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.card .p-datatable-tbody tr,
.card .p-datatable-tbody tr td {
  background-color: rgba(255, 255, 255, 0.9) !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}
