

.filter-row {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  position: relative;
}
$color1: blue;
$color2: red;
$percentage: 70%;

$blended-color: mix($color1, $color2, $percentage);

.element1 {
  background-color: $blended-color;
  height: 100px;
  width: 100px;
}

  


.filter-button.selected {
    color: #fff;
    background: #5ab8f8;
    border-color: #5ab8f8;
}

.filter-right {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.filter-wrap {
  display: flex;
  align-items: center;
}

.filter {
  display: flex;
  align-items: center;
}
.filter-bathrooms{
display: flex;
margin-right: 2em;
}
.filter-bedrooms {
  display: flex;
}

.filter-button {
     position: relative;
    display: inline-block;
    height: 35px;
    margin-right: 6px;
    margin-bottom: 0;
    padding: 6px 12px;
    color: #2d3138;
    font-size: 14px;
    letter-spacing: .4px;
    text-align: center;
    background: #f7fdff;
    border: 1px solid #c7e6fd;
    border-radius: 3px;
    cursor: pointer;
}

.filter-label {
    position: relative;
    color: #51517d;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
}
