.custom-marker {
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }

  .marker-label {
    display: none;
  }
}
.marker-hover {
  transform: scale(1.5);
}
.marker-icon {
  filter: hue-rotate(120deg);
}