.RentList {
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 247, 251);
  border-left: 2px solid #88c2ee;
  border-right: 2px solid #88c2ee;
  height: 90vh;
}

.slider-container {
  border-radius: 5px;
  margin: 0.25em;
}

.home-right-property-table-top {
  margin-left: 0.25em;
  margin-right: 0.25em;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: .85em;
}

.home-right-property-table-bottom {
  margin-left: 0.25em;
  margin-right: 0.25em;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: .85em;
}

.home-right-property-table-top thead tr th {
  color: #2d3138;
  width: 33%;
}

.home-right-property-table-bottom thead tr th {
  color: #2d3138;
  width: 33%;
  padding-top: 0.25em;
}

.home-right-property-table tbody tr td {
  color: #2d3138;
  width: 33%;
}

.home-right-property-table-top tbody tr td {
  color: #2d3138;
  width: 33%;
}

.home-right-property-table-bottom tbody tr td {
  color: #2d3138;
  width: 33%;
}

.p-panel-header {
  background-color: rgb(33, 107, 255) !important;
}

.p-panel-icons #ChartsPanel_label {
  background-color: #59b9f8;
  border: 1px solid white;
  color: white;
}

.p-panel-content {
  background-color: rgb(235, 247, 251) !important;
}

.selected-property-charts {
  background-color: rgb(235, 247, 251);
}

.image {
  margin: 1em;
  width: 400px;
  height: 300px;
  align-self: center;
  justify-self: center;
  display: flex;
  border-radius: 10%;
  border-color: blanchedalmond;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.10);
  }

  &.focus {
    transform: translate(-50%, -50%) scale(2);
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1a202c;
}
.price {
  border-color: var(--chakra-colors-gray-200);
  box-sizing: border-box;
  color: #2d3138;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: 200;
  letter-spacing: 1.04px;
  overflow-wrap: break-word;
}

.p-panel-title {
  color: white;
  font-size: 16pt;
  text-align: center;
}
