.home-right {
  border-left: 2px solid #88c2ee !important;
  border-right: 2px solid #88c2ee !important;
  height: 90vh;
}

.RentList {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(235, 247, 251);
  height: 100%;
}

// .img-container{
//     max-height: 13em;
//     min-height: 13em;
//     margin: 1em;
//     display: flex;
//     border-radius: 10%;
//     border-color: blanchedalmond;
//     transition: all 0.3s ease-in-out;
//     border: 4px solid red;
// }

.slider-container {
  width: 100%;
  // margin: 0.25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider-container .container {
  width: 100%;
}

.slider-container .filter-container {
  width: 100%;
}

.home-right-property-table-top {
  margin-left: 0.25em;
  margin-right: 0.25em;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: .85em;
}

.home-right-property-table-bottom {
  margin-left: 0.25em;
  margin-right: 0.25em;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: .85em;
}

.home-right-property-table-top thead tr th {
  color: #2d3138;
  width: 9vw;
}

.home-right-property-table-top tbody tr td {
  color: #2d3138;
  width: 9vw;
}

.home-right-property-table-bottom thead tr th {
  color: #2d3138;
  width: 9vw;
}

.home-right-property-table-bottom tbody tr td {
  color: #2d3138;
  width: 9vw;
}

.p-panel-header {
  background-color: rgb(33, 107, 255) !important;
  width: 27vw !important;
  height: 50px;
}

.p-panel-icons #ChartsPanel_label {
  background-color: #59b9f8;
  border: 1px solid white;
  color: white;
}

.p-panel-content {
  background-color: rgb(235, 247, 251) !important;
}

.selected-property-charts {
  background-color: rgb(235, 247, 251);
}

.image {
  width: 400px;
  height: 300px;
  border-radius: 5%;
  border-color: blanchedalmond;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  &.focus {
    transform: translate(-50%, -50%) scale(2);
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

.price {
  color: #2d3138;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: 200;
  letter-spacing: 1.04px;
  overflow-wrap: break-word;
}

.p-panel-title {
  color: white;
  font-size: 16pt;
  text-align: center;
}
