.RentList {
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 247, 251);
  border-left: 2px solid #88c2ee;
  border-right: 2px solid #88c2ee;
}

.home-right {
  background-color: rgb(235, 247, 251);
}

.slider-container{
  border: 1px solid #88c2ee;
  border-radius: 5px;
  margin: .25em;
}

.home-right-property-table {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: .25em;
  margin-right: .25em;
  border: 1px solid #88c2ee;
  border-radius: 5px;
}

.home-right-property-table thead tr th {
  color: #2d3138;
  width: 33%;
}

.home-right-property-table tbody tr td {
  color: #2d3138;
  width: 33%;
}

.p-panel-header {
  background-color: rgb(33, 107, 255) !important;
}

.p-panel-icons #ChartsPanel_label {
  background-color: #59b9f8;
  border: 1px solid white;
  color: white;
}

.p-panel-content {
  background-color: rgb(235, 247, 251) !important;
}

.selected-property-charts {
  background-color: rgb(235, 247, 251);
}

.image {
  margin: 1em;
  display: flex;

  border-color: blanchedalmond;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  &.focus {
    transform: translate(-50%, -50%) scale(2);
    position: absolute;
    top: 50%;
    left: 50%;
  }
}
.info {
  font-family: "Helvetica Neue";
  font-size: 16px;
  justify-content: center;
  align-items: center;
  border: 0px;
  border-bottom: #e6e6e6;
  border-color: var(--chakra-colors-gray-200);
  box-sizing: border-box;
  color: #1a202c;
  display: flex;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0px 25px;
  overflow-wrap: break-word;
  padding-bottom: 0px;
  padding-top: 0px;
}
.price {
  font-family: "Helvetica Neue";
  font-size: 42px;
  border-color: var(--chakra-colors-gray-200);
  box-sizing: border-box;
  color: #2d3138;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: 200;
  letter-spacing: 1.04px;
  overflow-wrap: break-word;
  padding-right: 15px;
}

.name {
  font-family: "Helvetica Neue";
  font-size: 16px;
  border-color: var(--chakra-colors-gray-200);
  box-sizing: border-box;
  color: #1a202c;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  max-width: 60%;
  overflow-wrap: break-word;
  padding-left: 15px;
  padding-top: 5px;
}
.undername {
  font-family: "Helvetica Neue";
  font-size: 14px;
  border-color: var(--chakra-colors-gray-200);
  box-sizing: border-box;
  color: #212126;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.26px;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.divider {
  font-family: "Helvetica Neue";
  font-size: 16px;
  align-self: center;
  border-color: var(--chakra-colors-gray-200);
  border-right: #e7e7e7;
  box-sizing: border-box;
  color: #1a202c;
  display: flex;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 40px;
  overflow-wrap: break-word;
}

.p-panel-title {
  color: white;
  font-size: 16pt;
  text-align: center;
}
