.welcome-card {
  padding: 10px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgb(235, 247, 251);

  .p-card-title {
    margin-left: 10px;
    margin-bottom: 0px;
  }

  .p-card-subtitle {
    margin-left: 10px;
    margin-bottom: 0px;
  }

  .p-card-body {
    padding: 5px;
  }

  .p-card-content {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .welcome-message {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 0px;
  }

  .welcome-link {
    color: black;
  }
}
