.logo {
  text-decoration: none;
  font-size: 3rem;
  color: inherit;
}

.title-subtitle {
  display: flex;
  flex-direction: row;
}

#logo-subtitle {
  font-size: 0.8rem;
  padding-left: 1rem;
  position: relative;
  top: 1.2rem;
  color: rgb(255, 255, 255);
}
