#logo {
  text-decoration: none;
  font-size: 4rem;
  color: inherit;
}

.title-subtitle {
  display: flex;
  flex-direction: row;
}

#logo-subtitle {
  padding-left: 2rem;
  position: relative;
  top: 1.4rem;
  color: rgb(255, 255, 255);
}
