.container {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e7e7e7;
}

.slider {
  position: relative;
  width: 200px;
}

.slider__track,
.slider__range {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}


.slider__track {
  background-color: #acacac;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #5AB8F8;
  z-index: 2;
  nav-right: 1em;
}

.slider__left-value,
.slider__right-value {
  position: relative;
  color: #51517d;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 2em;
  max-width: 1em;
}

.slider__left-value {
  left: -10px;
}

.slider__right-value {
  right: 8px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 210px;
  outline: none;
}

.thumb--left {
  z-index: 3;
  margin-left: -20px;
}

.thumb--right {
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #909697;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}